.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff; /* Light blue background */
  padding: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-container {
  width: 50%; /* Adjust as needed */
}

.info {
  max-width: 600px; /* Limiting maximum width */
  background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
  padding: 30px;
  text-align: center;
  color: #005cb8; /* Dark blue text */
  font-size: 18px;
  line-height: 1.6;
  border-radius: 30px; /* Rounded corners */
  margin: 0 auto; /* Center the container horizontally */
}

.info p {
  margin-bottom: 20px;
}

.info h1 {
  margin-bottom: 30px;
  font-size: 36px; /* Larger font size */
}
